--extra-index-url https://download.pytorch.org/whl/cpu

# Explicitly pull CPU versions of PyTorch to avoid the 6GB CUDA image size on Railway
torch
torchvision

# Backend Framework
fastapi
uvicorn
python-multipart
supabase

# Core AI and Data Libraries
streamlit>=1.31.0
groq>=0.4.2
sentence-transformers>=2.5.1
transformers>=5.5.4,<6.0.0
faiss-cpu>=1.8.0
PyPDF2>=3.0.1
python-dotenv>=1.0.1
requests>=2.31.0
langchain>=0.1.12
langchain-community>=0.0.28
langchain-text-splitters>=0.2.0
pydantic>=2.6.4
